@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

body {
 font-family: Agdasima;
 margin: 0;
}

h1 {
 margin: 0;
 text-align: center;
 margin-bottom: 40px;
 border-bottom: 1px solid #6A9C89;
 background-color: #16423C;
 color: white;
}

fieldset {
 width: 600px;
 margin: auto;
 padding-top: 25px;
 padding-left: 30px;
 background-color: rgba(233, 239, 236, 0.7); 
 border-radius: 10px;
 box-shadow: 5px 5px 5px rgb(22, 66, 60);
}

label.alinha {
 display: inline-block;
 width: 250px;
 text-align: right;
 margin-bottom: 10px;
}

input[name="nome-aluno"] {
 width: 250px;
}

button {
 width: 350px;
 height: 40px;
 font-weight: bold;
 color: #16423C;
 margin: auto;
 display: block;
 margin-top: 10px;
 font-family: Agdasima;
 font-size: 20px;
}

p {
 border-bottom: 1px solid #6A9C89;
 background-color: #16423C;
 color: white;
 text-align: center;
 width: 50%;
 margin: 30px auto;
}

input[name="nota1"], input[name="nota2"], input[name="peso1"], input[name="peso2"]
 {
  width: 100px;
 }

 span {
  font-size: 20px;
  border: 1px solid white;
  background-color: #E2F1E7;
  color: black;
  margin-bottom: 10px;
  display: block;
 }