@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body
{
    background: #331715;
}
h1
{
    margin: 3px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: #D2AFAB;
    text-decoration: underline;
    font-weight: bold; 
    font-family: "Pixelify Sans";
    font-size: xx-large;
    margin-bottom: 40px;
    border-bottom: 10px solid #773939;
    background-color: #773939;
    
}
fieldset
{
    margin: auto;
    margin-bottom: 10px;
    width: 50%;
    color: #D2AFAB;
    font-family: "Pixelify Sans";
    font-size: 25px;
    font-weight: bold;
    background-color: #723631;
    box-shadow: 4px 6px #4C2424;
}
.alinha
{
    width: 50%;
    display: inline-block;
    text-align: right;
}
input, textarea, button
{
    background-color: #99635d;
    color: #D2AFAB;
    border-color: #4C2424;
    font-family: "Pixelify Sans";
    font-size: x-large;
}
select
{
    background-color: #99635d;
    color: #D2AFAB;
    border-color: #4C2424;
    font-family: "Pixelify Sans";
    font-size: medium;
}
::placeholder
{
    font: "Pixelify Sans";
    color: #4C2424;
}
input[name=num_matricula],[name=celular], [name=Login_do_usuario], [name=senha_do_usuario]
{
    width: 225px;
    margin-bottom: 6px;
}
input[name=nome_do_usuario], [name=email_do_usuario]
{
    width: 300px;
    margin-bottom: 6px;
}
textarea
{
    resize: none;
    width: 708px;
    height: 100px;
}
button
{
    display: block;
    margin-left: 43%;
    margin-top: 40px;
}
.Numero_de_aulas_semanais
{
    display: inline-block;
}
.obrigatorio
{
    color: black;
    font-size: 30px;

}