

body 
{
  font-family: "Pixelify Sans";
  margin: 0;
  background-color: #ad5f4e;
}

h1 
{
  border-bottom: 3px solid #e2c799;
  text-align: center;
  color: #f2ecbe;
  background-color: #9a3b3b;
  margin: 0;
}

p
{
    color: #f2ecbe;
    font-family: "Pixelify Sans", sans-serif;
    font-size: larger;
}

fieldset 
{
  color: #f2ecbe;
  border: 4px solid #e2c799;
  width: 350px;
  background-color: #9a3b3b;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}
legend
{
  color: #f2ecbe;
  border: 3px solid #e2c799;
  border-radius: 10px;
  background-color: #9a3b3b;
}

button 
{
  width: 325px;
  height: 50px;
  margin: auto;
  display: block;
  font-family: "Pixelify Sans";
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  color: #f2ecbe;
  background-color: #c08261;
}

div 
{
  border: 2px solid #e2c799;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  border-radius: 5px;
  background-color: #c08261;
}
   
input 
{
  font-family: "Pixelify Sans";
  background-color: #c08261;
  color: #f2ecbe;
  border: 2px solid #e2c799;
  border-radius: 5px;
  width: 40px;
}

label.diminui
{
  font-size: small;
}

label.alinha 
{
  display: inline-block;
  color: #f2ecbe;
  width: 200px;
  text-align: right;
  margin-bottom: 10px;
}
