@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
body
{
    background: #4e2521;
}
h2
{
    margin: 0;
    text-align: center;
    color: #D2AFAB;
    
    font-family: "Pixelify Sans";
    font-size: xx-large;
    margin-bottom: 40px;
    border-bottom: 3px solid #4C2424;
}
fieldset
{
    margin: auto;
    width: 50%;
    color: #D2AFAB;
    font-family: "Pixelify Sans";
    font-size: 25px;
    font-weight: bold;
    background-color: #723631;
}
.alinha
{
    width: 50%;
    display: inline-block;
    text-align: right;
}
input, textarea, button
{
    background-color: #99635d;
    color: #D2AFAB;
    border-color: #4C2424;
    font-family: "Pixelify Sans";
    font-size: x-large;
}
::placeholder
{
    font: "Pixelify Sans";
    color: #4C2424;
}
input[name=nome-usuario], [name=idade], [name=salario], [name=aniversario]
{
    width: 250px;
}
textarea
{
    resize: none;
    width: 708px;
    height: 100px;
}
button
{
    display: block;
    margin-left: 23.7%;
}